body { 
    font-family: serif, sans-serif;
    margin:1em auto;
    max-width:50em;
    padding:.4em;
    font-size:1.2em;
    line-height:1.4;
    color:#002b36;
    background-color:#fdf6e3;
}

@media (prefers-color-scheme: dark) { 
    body {
        color:#839496;
        background-color:#002b36;
    }

}

h1,h2,h3,h4 {
    font-family: serif, sans-serif;
    line-height:1.2;
}

p {
    padding: 0em;
    margin: 0em;
}

a:link {
    color: #d33682;
}
  
a:visited {
    color: #2aa198;
}