body { 
    font-family: ui-serif, serif, sans-serif, system-ui;
    margin: 0 auto;
    max-width: 50rem;
    padding: 2rem;
    line-height: 1.4rem;
    color: #002b36;
    background-color: #fdf6e3;
}

h1,h2,h3,h4 {
    font-family: ui-serif, serif, sans-serif, system-ui;
    line-height: 1.4rem;
}

p {
    padding: 0rem;
    margin: 0rem;
}

a:link {
    color: #d33682;
}
  
a:visited {
    color: #2aa198;
}

@media (prefers-color-scheme: dark) { 
    body {
        color: #839496;
        background-color: #002b36;
    }
}