body { 
    font-family: serif, sans-serif;
    margin:40px auto;
    max-width:650px;
    padding:10px;
    font-size:18px;
    line-height:1.4;
    color:#444;
}

h1,h2,h3,h4 {
    font-family: serif, sans-serif;
    line-height:1.2;
}
